{% extends "base.html" %}

{% block title %}Изменение статуса{% endblock title %}

{% block content %}  
    {% if messages %}
        {% for message in messages %}
            <div class='center'>
                <h3 class="positive">
                    {{ message }}
                </h3>
            </div>
        {% endfor %}
    {% endif %}  
    <form method='post'>
        {% csrf_token %}
        <div class='center'><h1 class='blue'> Выберите статус заказа </h1></div>
        <div class="table reducing-width">
            {% if not orders %}
                <span class="negative"><h2>Заказов нет</h2></span>
            {% else %}
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Номер заказа</th>
                            <th>Номер стола</th>
                            <th>Список блюд</th>
                            <th>Общая стоимость</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders%}
                            {% if order.order.get_status_display == 'Оплачено' %}
                                <tr class="active-row">
                            {% else %}
                                <tr>
                            {% endif %}
    
                            <td> {{ order.order.id }} </td>
                            <td> {{ order.order.table_number }} </td>
                            <td> 
                                {% for item in order.order.dishes_set.all %}
                                    {{ item.product.name }} <br>
                                {% endfor %} 
                            </td>
                            <td> {{ order.order.total_price }} </td>
                            <td> <div class="form-add-order">{{ order.status_form.status }}</div> </td>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class='center'><button type="submit" class="add_button">Сохранить</button></div>
    </form>
{% endblock content %}

