{% extends "base.html" %}
{% comment %} {% load change_status_filter %} {% endcomment %}

{% block title %}Изменение статуса{% endblock title %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            <div class='center'>
                <h3 class="positive">
                    {{ message }}
                </h3>
            </div>
        {% endfor %}
    {% endif %} 
    <form method="post" action="{% url 'change_one_status' order.id %}">
        {% csrf_token %}
        <div class="center blue"><h1> Выберите статус для заказа </h1></div>
        <div class="form-container">
            <h3> Номер стола: <span class="structure dark">{{order.table_number}}</span></h3> 
            <h3>Блюда в заказе:</h3>
                {% for dish in order.dishes_set.all %}
                    <span class="structure dark">{{dish.product.name}}</span>
                {% endfor %}
            <h3>Статус: <div class="form-add-order">{{ status_form.status }}</div></h3>
            <button type="submit" class="add_button">Сохранить</button>
        </div>
    </form>
{% endblock content %}