{% extends "base.html" %}

{% block title %} Управление кафе{% endblock title %}

{% block content %}
    <h1 class="home"> Управление кафе </h1>
    {% include "includes/navbar.html"%}
    {% include "includes/datetime.html"%}
    <div class="container">
        <section id="orders">
            <h1>Заказы в работе</h1>
            {% include "includes/table_orders.html"%}
        </section>
        <section id="orders">
            <h1>Свободные столы</h1>
            {% include "includes/show_tables.html"%}
        </section>
        <section id="orders">
            <h1>Аналитика за сегодня</h1>
            {% include "includes/analytics.html"%}
        </section>
    </div>

{% endblock  %}