.add_button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 50px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
    color: #f1eeed;
    background: #0a67d8;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.add_button:hover {
    background: #2EE59D;
    box-shadow: 0 15px 20px rgba(46, 229, 157, .4);
    color: white;
    transform: translateY(-5px);
}
.save_button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 50px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
    color: #f1eeed;
    background: #0a67d8;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.save_button:hover {
    background: #e5e22e;
    box-shadow: 0 15px 20px rgba(217, 229, 46, 0.4);
    color: rgb(8, 8, 8);
    transform: translateY(-5px);
}
.delete_button {
    text-decoration: none;
    display: inline-block;
    width: 140px;
    height: 50px;
    line-height: 45px;
    border-radius: 45px;
    margin: 10px 5px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 600;
    color: #f1eeed;
    background: #0a67d8;
    box-shadow: 0 8px 15px rgba(0, 0, 0, .1);
    transition: .3s;
}

.delete_button:hover {
    background: #e5502e;
    box-shadow: 0 15px 20px rgba(229, 98, 46, 0.4);
    color: rgb(255, 255, 255);
    transform: translateY(-5px);
}

h1 {
    color: #0a67d8;
}
h4 {
    padding-left: 25px;
}

div.list_dish{
    padding-left: 25px;
}
div.price {
    padding-left: 25px;
}

span.blue {
    color: #0a67d8;
    font-size: 125%;
}
span.structure{
    font-style: italic;
    font-size: 115%;
}

.negative {
    color: #851010;
}

.positive {
    color: #286c15;
}

.blue{
    color: #0a67d8;
}

.cl-link a {
    color: rgba(58, 127, 217, 0.753);
    font-weight: 700;
    text-shadow: none;
    margin: 0 25px;
}


.cl-link a::before {
    color: #0a67d8;
    content: attr(data-hover);
    position: absolute;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
    -moz-transition: -moz-transform 0.3s, opacity 0.3s;
    transition: transform 0.3s, opacity 0.3s;
}

.cl-link a:hover::before,
.cl-link a:focus::before {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    transform: scale(0.9);
    opacity: 0;
}

/* ul.index {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    list-style-type: none;
    width: 90%;
    max-width: 35rem;
    border-radius: 20px;
    margin: 2rem auto;
    padding: 1px;
    padding-right: 10px;
    background-color: #f1f1f1;
}

ul.index li {
    text-align: center;
    width: 100%;
    font-size: 2rem;
    padding: 1rem 1rem;
} */

h1.home {
    color: #0a67d8;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    text-decoration: underline;
}

.btn-new {
    border-radius: 10px;
    padding: 8px;
    color: white;
    transition: .2s linear;
    background: #0a67d8;
    font-size: 30px;

}

.btn-new:hover {
    box-shadow: 0 0 0 2px white, 0 0 0 4px #3C82F8;
}

a {
    text-decoration: none;
}

div.table {
    width: 50%;
    /* Ширина div */
    margin: 0 auto;
    /* Автоматические отступы по бокам */
    padding: 20px;
    text-align: center;
}

.styled-table {
    border-collapse: collapse;
    /* margin: 25px 25px; */
    font-size: 1.4em;
    font-family: sans-serif;
    /* min-width: 1000px; */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.20);
}

.styled-table thead tr {
    background-color: #0a67d8;
    color: #ffffff;
    text-align: center;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
    text-align: center;

}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #0a67d8;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #0a67d8;
}

/* h1.table {
    margin: 0px 500px;
    color: #0a67d8;
} */
nav.cl-link {
    background-color: #9fa5a5;
    padding: 10px;
    text-align: center;
}
nav a.hidden {
    display: none;
}

/* ul.navbar li {
    display: inline-block;
} */

.container {
    padding: 20px;
}

section {
    margin-bottom: 20px;
    background-color: #e6f7ff;
    /* Очень светло-голубой */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    /* width: 50%; */
    /* Ширина div */
    margin: 0 auto;
    /* Автоматические отступы по бокам */
    /* padding: 20px; */
    text-align: center;
}

.form-container .positive h4 {
    margin-bottom: 1.5rem;
    /* font-size: 1.5rem; */
    color: #286c15;
    text-align: center;
}

.form-container h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    color: #0a67d8;
    text-align: center;
}


.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #555555;
}

.form-group input {
    width: 80%;
    padding: 0.75rem;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333333;
    transition: border-color 0.3s ease;
}

.form-group textarea {
    width: 80%;
    padding: 0.75rem;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333333;
    transition: border-color 0.3s ease;
}

.form-group input:focus {
    border-color: #0a67d8;
    outline: none;
}

.form-group textarea:focus {
    border-color: #0a67d8;
    outline: none;
}

.form-group input[type="number"] {
    appearance: textfield;
    /* Убирает стрелки в числовом поле */
}

.form-group input[type="number"]::-webkit-inner-spin-button,
.form-group input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* Убирает стрелки в числовом поле для WebKit */
    margin: 0;
}
.form-group select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333333;
    background-color: #ffffff;
    appearance: none;
    /* Убирает стандартные стрелки */
    -webkit-appearance: none;
    /* Для Safari */
    -moz-appearance: none;
    /* Для Firefox */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 12px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.form-group select:focus {
    border-color: #007bff;
    outline: none;
}

.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.checkbox-option {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.checkbox-option input {
    margin: 0;
    cursor: pointer;
}

.checkbox-option label {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.5rem;
    color: #333333;
    cursor: pointer;
}

.form-add-order {
    /* margin-bottom: 1.5rem; */
}

.form-add-order label {
    /* display: block; */
    margin-bottom: 0.5rem;
    font-size: 1rem;
    color: #555555;
}

.form-add-order input {
    width: 10px;
    padding: 0.75rem;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333333;
    transition: border-color 0.3s ease;
}

.form-add-order input:focus {
    border-color: #0a67d8;
    outline: none;
}


.form-add-order input[type="number"] {
    appearance: textfield;
    /* Убирает стрелки в числовом поле */
}

.form-add-order input[type="number"]::-webkit-inner-spin-button,
.form-add-order input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    /* Убирает стрелки в числовом поле для WebKit */
    margin: 0;
}

.form-add-order select {
    /* width: 100%; */
    padding: 0.75rem;
    border: 1px solid #dddddd;
    border-radius: 5px;
    font-size: 1rem;
    color: #333333;
    background-color: #ffffff;
    appearance: none;
    /* Убирает стандартные стрелки */
    -webkit-appearance: none;
    /* Для Safari */
    -moz-appearance: none;
    /* Для Firefox */
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23333333" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 0rem center;
    background-size: 14px;
    cursor: pointer;
    transition: border-color 0.3s ease;
}

.form-add-order select:focus {
    border-color: #007bff;
    outline: none;
}

.container-left {
    text-align: left
}