    <table class="styled-table">
    <thead>
        <tr>
            <th>Пункт</th>
            <th>Значение</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class='left'>Всего заказов</td>
            <td class='blue bold'> {{count_all}} </td>
        </tr>   
        <tr>
            <td class='left'>Общая сумма</td>
            <td class='blue bold'> {{calculat_all}} </td>
        </tr>
        <tr>
            <td class='left'>Оплачено на</td>
            <td class='blue bold'> {{calculat_paid}} </td>
        </tr>
        <tr>
            <td class='left'>Не оплачено на</td>
            <td class='red bold'> {{calculat_unpaid}} </td>
        </tr>
        <tr>
            <td class='left'>Количество не оплаченных</td>
            <td class='red bold'> {{more_to_be_paid}} </td>
        </tr>

    </tbody>
    </table>

    