{% extends "base.html" %}
{% load change_status_filter %}

{% block title %}Изменение статуса{% endblock title %}

{% block content %}
    {% include "includes/navbar.html"%}
    <h1> Выберите статус для заказа </h1>
    <form method="post" action="{% url 'change_status' %}">
            {% csrf_token %}
            {% for order in orders %}
                <h3>
                    <label for={{ order.id }}> Id - {{ order.id }}; Номер стола - {{ order.table_number }}; 
                    {% comment %} <input type="radio" id="delete" name="delete" value= {{ order.id }}> {% endcomment %}
                        Блюда в заказе:
                        {% for item in order.items.all %}
                            {% if forloop.last %}
                                {{ item.name }};
                            {% else %}
                                {{ item.name }},
                            {% endif %}
                        {% endfor %}
                        <span class="blue">Текущий статус:</span>
                        <select name={{ order.id }} >
                            {% for status in stat|statedit:order.status %}
                                <option value= {{status}} >{{status|statdisplay}}</option>
                            {% endfor %}
                        </select>
                    </label><br>
                </h3> 
            {% endfor %}
            {% if changes == '+' %}
                <h3 class='positive'>Изменения сохранены</h3>
            {% elif changes == '-' %}
                <h3 class='negative'>Изменения не выбраны</h3>
            {% endif %}
            <button type="submit" class="save_button">Сохранить</button>
        </form>
{% endblock content %}