{% extends "base.html" %}

{% block title %}Изменение статуса{% endblock title %}

{% block content %}
    {% include "includes/navbar.html"%}
    
    <form method='post'>
        {% csrf_token %}
        <div class='center'><h1 class='blue'> Выберите статус заказа </h1></div>
        <div class="table reducing-width">
            {% if not orders %}
                <span class="negative"><h2>Заказов нет</h2></span>
            {% else %}
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Номер заказа</th>
                            <th>Номер стола</th>
                            <th>Список блюд</th>
                            <th>Общая стоимость</th>
                            <th>Статус</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in orders%}
                            {% if order.order.get_status_display == 'Оплачено' %}
                                <tr class="active-row">
                            {% else %}
                                <tr>
                            {% endif %}
    
                            <td> {{ order.order.id }} </td>
                            <td> {{ order.order.table_number }} </td>
                            <td> 
                                {% for item in order.order.dishes_set.all %}
                                    {{ item.product.name }} <br>
                                {% endfor %} 
                            </td>
                            <td> {{ order.order.total_price }} </td>
                            <td> <div class="form-add-order">{{ order.status_form.status }}</div> </td>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
        <div class='center'><button type="submit" class="add_button">Сохранить</button></div>
    </form>
{% endblock content %}
{% comment %} {% extends "base.html" %}
{% load change_status_filter %}

{% block title %}Изменение статуса{% endblock title %}

{% block content %}
    {% include "includes/navbar.html"%}
    <h1> Выберите статус для заказа </h1>
    <form method="post" action="{% url 'change_status' %}">
            {% csrf_token %}
            {% for order in orders %}
                <h3>
                    <label for={{ order.id }}> Id - {{ order.id }}; Номер стола - {{ order.table_number }}; 
                        Блюда в заказе:
                        {% for item in order.items.all %}
                            {% if forloop.last %}
                                {{ item.name }};
                            {% else %}
                                {{ item.name }},
                            {% endif %}
                        {% endfor %}
                        {{ form }}
                        
                    </label><br>
                </h3> 
            {% endfor %}
            {% if changes == '+' %}
                <h3 class='positive'>Изменения сохранены</h3>
            {% elif changes == '-' %}
                <h3 class='negative'>Изменения не выбраны</h3>
            {% endif %}
            <button type="submit" class="save_button">Сохранить</button>
        </form>
{% endblock content %} {% endcomment %}
