{% if not tables %}
    <span class="negative"><h2>Столов нет</h2></span>
{% else %}
    <table class="styled-table">
    <thead>
        <tr>
            <th>Номер стола</th>
            <th>Количество мест</th>
            <th>Статус</th>
            {% if edit %}
                <th> Изменить</th>
            {% endif %}
            {% if delete %}
                <th> Удалить</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for table in tables %}
        <tr>
            <td> {{ table.number }} </td>
            <td> {{ table.places }} </td>
            <td> {{table.get_status_display}} </td>
            {% if edit %}
                <td> <a href=" {% url "edit_table" table.id %} " class="edit-link"> Изменить</a> </td>
            {% endif %}
            {% if delete %}
                <td> <a href=" {% url "delete_table" table.id %} " class="delete-link"> Удалить</a> </td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
    </table>
{% endif %}