{% extends "delete_order_app/base.html" %}

{% block content %}
    <h1> Выберите и удалите заказ </h1>
        <form method="post" action="{% url 'delete' %}">
            {% csrf_token %}
            {% for order in orders %}
                <input type="radio" id="delete" name="delete" value= {{ order.id }}>
                <label for="delete"> Id - {{ order.id }} Номер стола {{ order.table_number }} 
                    Блюда в заказе
                    {% for item in order.items.all %}
                        {{ item.name }}
                    {% endfor %}
                    Статус: {{ order.status }}
                </label><br>
            {% endfor %}
            <input type="submit" value="Удалить"> 
        </form>
{% endblock content %}