{% if not orders %}
    <span class="negative"><h2>Заказов нет</h2></span>
{% else %}
    <table class="styled-table">
    <thead>
        <tr>
            <th>Номер заказа</th>
            <th>Номер стола</th>
            <th>Список блюд</th>
            <th>Общая стоимость</th>
            <th>Статус</th>
            {% if edit or delete%}
                <th> Выбрать</th>
            {% endif %}
        </tr>
    </thead>
    <tbody>
    {% for order in orders %}

        {% if order.get_status_display == 'Оплачено' %}
            <tr class="active-row">
        {% else %}
            <tr>
        {% endif %}

        <td> {{ order.id }} </td>
        <td> {{ order.table_number }} </td>
        <td> 
            {% for item in order.dishes_set.all %}
                {{ item.product.name }} <br>
            {% endfor %} 
        </td>
        <td> {{ order.total_price }} </td>
        {% if change_st %}
            <td> {{ order.status_form.status }} </td>
        {% else %}
            <td> {{ order.get_status_display }} </td>
        {% endif %}
        {% if edit %}
            <td><a href=" {% url 'edit_order' order.id %} " class="edit-link"> Изменить</a></td>
        {% elif delete %}
            <td><a href=" {% url 'delete_order' order.id %} " class="delete-link"> Удалить</a></td>
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endif %}