{% extends "base.html" %}

{% block title %}Изменение заказа{% endblock title %}
{% block script %}{% include "includes/script_show_message.html"%}{% endblock script %}

{% block content %}
    <div class="center">
        {% for m in warning_message %}
            <h3 class="negative center">
                {{ m }}
            </h3>
        {% endfor %}
    </div>
    {% include "includes/message.html"%}
    <div class="form-container container-left">
        <h3>Изменение заказа</h3>
        <form method="post">
                {% csrf_token %}
            {% for field in form %}
                <div class='form-add-order'>
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="save_button">Изменить</button>
        </form>
    </div>

{% endblock content %}