{% extends "base.html" %}

{% block title %}Расчет выручки{% endblock title %}

{% block content %}
    <h1>Расчет выручки</h1>
    <h3>Всего заказов - <span class="blue">{{count_all}}</span> </h3>
    <h3>Оплачено на - <span class="blue">{{calculat_paid}}</span> </h3>
    <h3>Количество не оплаченных - <span class="blue">{{count_unpaid}}</span> </h3>
    <h3> Неоплаченные заказы: </h3>
    {% for order in unpaid %}
        <h4>
            <div class='order'>
                ID - {{ order.id }} <br>
                Стол номер - {{ order.table_number }} <br>
                Сумма заказа - {{ order.total_price }} <br>
            </div>
        </h4>
    {% endfor %}
{% endblock content %}