{% extends "base.html" %}

{% block title %}Заказы{% endblock title %}

{% block content %}
    {% include "includes/navbar.html"%}
    {% include "includes/datetime.html"%}
    <div class='center'><h1 class='blue'> Все заказы </h1></div>
    <div class="table reducing-width">
        {% include "includes/table_orders.html" %}
    </div>
        <nav class="cl-link">
        <a href=" {% url "creating_order" %} " data-hover="Добавить заказ">Добавить заказ</a> <br>
        <a href=" {% url "choice_edit" %} " data-hover="Изменить заказ">Изменить заказ</a> <br>
        <a href=" {% url "choosing_delete" %} " data-hover="Удалить заказ">Удалить заказ</a> <br>
        <a href=" {% url "find_order" %} " data-hover="Найти заказ">Найти заказ</a> <br>
        <a href=" {% url "change_status" %} " data-hover="Статус заказов">Статус заказов</a> <br>
    </nav>
{% endblock content %}