<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title %}{% endblock title %} </title>
    <link rel="stylesheet" href=" {% static "css/base.css" %} "> 
    {% block link %}{% endblock link %}
    {% block script %}{% endblock script %}
</head>
<body>
    {% block ind %}{% endblock ind %}
    {% include "includes/navbar.html"%}
    {% include "includes/datetime.html"%}
    {% block content %}{% endblock content %}
</body>
</html>