{% extends "base.html" %}

{% block title %}Добавление заказа{% endblock title %}
{% block script %}{% include "includes/script_show_message.html"%}{% endblock script %}

{% block content %}
    {% include "includes/message.html"%}
    <div class="form-container container-left">
        <h3>Добавление Заказа</h3>
        <form method="post" action="{% url 'creating_order' %}">
                {% csrf_token %}
            {% for field in form %}
                <div class='form-add-order'>
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            <button type="submit" class="add_button">Добавить</button>
        </form>
    </div>

{% endblock content %}