{% extends "base.html" %}

{% block title %}Стол занят{% endblock title %}

{% block content %}
    {% include "includes/navbar.html"%}
    <div class='center'><h1 class='blue'> Заказ за этот стол уже существует </h1></div>
    <div class="table">
        {% include "includes/table_orders.html" %}
    </div>
    {% comment %} <nav class="cl-link">
        <a href=" {% url "edit_one_order" order.id %} " data-hover="Редактировать заказ">Редактировать заказ</a> <br>
        <a href=" {% url "change_one_status" order.id %} " data-hover="Изменить статус заказа">Изменить статус заказа</a>
    </nav> {% endcomment %}
{% endblock content %}