{% extends "base.html" %}

{% block title %}Стол занят{% endblock title %}

{% block content %}
    <h1> Заказ за этот стол уже существует </h1>
    <h3>
        Id - {{ order.id }} <br>
        Номер стола - {{ order.table_number }} <br>
        Статус - {{ order.get_status_display }} <br>
    
    Блюда в заказе:</h3>
    <h4>
        {% for item in order.items.all %}
            <div class='item'>
                - {{ item.name }} <br>
            </div>
        {% endfor %}
    </h4>
    <br>
    <nav class="cl-link">
        <a href=" {% url "edit_one_order" order.id %} " data-hover="Редактировать заказ">Редактировать заказ</a> <br>
        <a href=" {% url "change_one_status" order.id %} " data-hover="Изменить статус заказа">Изменить статус заказа</a>
    </nav>
{% endblock content %}