{% extends "base.html" %}

{% block title %}Добавить в меню{% endblock title %}

{% block content %}
    {% include "includes/navbar.html" %}
    <div class="table">
        <h1> Блюда в меню </h1>
        {% include "includes/menu.html" %}
    
    {% if messages %}
        {% for message in messages %}
            <h3 class="positive">
                {{ message }}
            </h3>
        {% endfor %}
    {% endif %}
    </div>
    <div class="form-container">
        <h3>Добавление блюда</h3>
        <form method="post" action="{% url 'add_product' %}">
                {% csrf_token %}
            {% for field in form %}
                <div class='form-group'>
                    {{field.label_tag}}
                    {{field}}
                </div>
            {% endfor %}
            <button type="submit" class="add_button">Добавить</button>
        </form>
    </div>
{% endblock content %}