{% extends "base.html" %}

{% block title %}Удалить из меню{% endblock title %}

{% block content %}
    <div class="form-container">
        <h3>Удаление блюда</h3>
        {% if messages %}
            {% for message in messages %}
                <h4 class="positive">
                {{ message }}
                </h4>
            {% endfor %}
        {% endif %}
        <form method="post" action="{% url 'delete_product' %}">
                {% csrf_token %}
            {% for field in form %}
                <div class='checkbox-group checkbox-option'>
                    {{field.label_tag}}
                    {{field}}
                </div>
            {% endfor %}
            <button type="submit" class="delete_button">Удалить</button>
        </form>
    </div>
{% endblock content %}