{% extends "base.html" %}

{% block title %}Удалить из меню{% endblock title %}

{% block content %}
    <h1> Выберите и удалите блюдо </h1>
    <form method="post" action="{% url 'delete_product' %}">
        {% csrf_token %}
        <h3>
            {% for product in products %}
                <input type="radio" id="id" name="id" value= {{ product.id }}>
                <label for="id"> Id - {{ product.id }}; Название блюда: <span class="blue">{{ product.name }}</span> </label><br>
            {% endfor %}
        </h3>
        <button type="submit" class="delete_button">Удалить</button>
    </form>
    {% if deleted == "+" %}
        <h3 class="positive">Блюдо удалено</h3>
    {% endif %}
{% endblock content %}