{% extends "base.html" %}

{% block title %}Меню{% endblock title %}

{% block content %}
    {% include "includes/navbar.html" %}
    {% include "includes/datetime.html"%}
    <div class="table">
        <h1>Список меню</h1>
        {% include "includes/menu.html" %}
    </div>
    <nav class="cl-link">
        <a href=" {% url "add_product" %} " data-hover="Добавить блюдо">Добавить блюдо</a> <br>
        <a href=" {% url "delete_product" %} " data-hover="Удалить блюдо">Удалить блюдо</a>
    </nav>
{% endblock content %}